{% extends "base.html" %}

{% block head_title%}
{{ super() }}: Inicio
{% endblock head_title %}

{% block contenido %}

<h1>COMPRA DE CRIPTOS</h1>

<form action="{{ url_for('nuevo') }}" method="post">
    <div class="selects">
        <div class="selects-item">
            <label for="">Moneda-origen:</label>
            <select name="from_currency" id="currency-from">
                <option value="EUR">Euro</option>
                <option value="BTC">Bitcoin</option>
                <option value="ETH">Ethereum</option>
                <option value="ADA">Cardano</option>
                <option value="SOL">Solana</option>
                <option value="DOT">Polkadot</option>
            </select>
        </div>
        <div class="selects-item">
            <label for="">Moneda-destino:</label>
            <select name="to_currency" id="currency-to">
                <option value="EUR">Euro</option>
                <option value="BTC">Bitcoin</option>
                <option value="ETH">Ethereum</option>
                <option value="ADA">Cardano</option>
                <option value="SOL">Solana</option>
                <option value="DOT">Polkadot</option>
            </select>
        </div>
    </div>

    <div class="cantidad">
        <div class="cantidad-item">
            <label for="">Valor a invertir:</label>
            <input type="text" name="from_quantity" id="value-to-convert">
            <input type="hidden" id="value-to-convert-hidden" />
            <i class="fa-solid fa-calculator cursor-p" onclick="loadCurrencies()"></i>
            <!-- TODO: Acuérdate del valueToConvert -->
        </div>
        <div class="cantidad-item">
            <label for="">Cantidad:</label>
            <input type="text" name="to_quantity" id="quantity" readonly>
            <div>
                <label for="">P.U.:</label>
                <input type="text" id="unitPrice" readonly>
                <div>
                    <button type="submit"><i class="fa-solid fa-check"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock contenido %}