{% extends "base.html" %}

{% block head_title%}
{{ super() }}: Inicio
{% endblock head_title %}



{% block contenido %}

<h1>MOVIMIENTOS</h1>
{% if movs %}
<table class="paper">
    <tr>
        <th class="titulo-tabla">Fecha</th>
        <th class="titulo-tabla">Hora</th>
        <th class="titulo-tabla">From_currency</th>
        <th class="titulo-tabla">From_quantity</th>
        <th class="titulo-tabla">To_currency</th>
        <th class="titulo-tabla">To_quantity</th>

    </tr>
    {% for m in movs %}
    <tr>
        <td>{{ m.fecha }}</td>
        <td>{{ m.hora }}</td>
        <td>{{ m.from_currency }}</td>
        <td>{{ m.from_quantity }}</td>
        <td>{{ m.to_currency }}</td>
        <td>{{ m.to_quantity }}</td>

    </tr>
    {% endfor %}


</table>
{% else %}
<h2 class="lista_vacia">No hay movimientos disponibles</h2>
{% endif %}

<p>
    <a href="/status"><button type="estado">Status</button></a>
    <a href="/compra"><button type="nuevo"><i class="fa-solid fa-plus"></i></button></a>
</p>
{% endblock contenido %}